<h1>Purchase #<%= @purchase.id %></h1>

<p>
  <b>Order:</b>
  <p><%= @purchase.order.id %></p>
  <p><%= @purchase.order.status %></p>
  <%= @purchase.order.data %>
</p>

<p>
  <b>Item:</b>
  <%= @purchase.item_id %>
</p>

<p>
  <b>Quantidade:</b>
  <%= @purchase.quantidade %>
</p>


