<h1>Order #<%= @order.id %></h1>

<p>
  <b>User:</b>
  <%= @order.user.nome %>
  <%= @order.user.sobrenome %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Data:</b>
  <%= @order.data %>
</p>

<b>Purchases:</b>
  <% @order.purchase.each do |purchase|%>
    <li> <%= purchase.item_id %></li>
    <% end %>


<b>Item:</b>
  <% @order.purchase.each do |purchase|%>
    <li> <%= purchase.item.item %></li>
    <% end %>