<h1>Order #<%= @order.id %></h1>

<p>
  <b>User:</b>
  <%= @order.user.nome %>
  <%= @order.user.sobrenome %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Data:</b>
  <%= @order.data %>
</p>


