<h1>Item #<%= @item.id %></h1>

<p>
  <b>Categoria:</b>
  <%= @item.categoria %>
</p>

<p>
  <b>Subcategoria:</b>
  <%= @item.subcategoria %>
</p>

<p>
  <b>Item:</b>
  <%= @item.item %>
</p>

<p>
  <b>Marca:</b>
  <%= @item.marca %>
</p>

<p>
  <b>Descricao:</b>
  <%= @item.descricao %>
</p>

<p>
  <b>Preco:</b>
  <%= @item.preco %>
</p>

<p>
  <b>Imagem:</b>
  <%= @item.imagem %>
</p>


